@model CardsApp.Data.GamePlayed
@{
    ViewData["Title"] = "ManageAccrual";
}

<h1>Manage Accrual Game</h1>

@await Html.PartialAsync("ManageSummary", Model)
@await Html.PartialAsync("ManageHandTable",Model)