@model CardsApp.Data.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultStake" class="control-label"></label>
                <input asp-for="DefaultStake" class="form-control" />
                <span asp-validation-for="DefaultStake" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SingleWinner" /> @Html.DisplayNameFor(model => model.SingleWinner)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaximumScore" class="control-label"></label>
                <input asp-for="MaximumScore" class="form-control" />
                <span asp-validation-for="MaximumScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrawPosition" class="control-label"></label>
                <input asp-for="DrawPosition" class="form-control" />
                <span asp-validation-for="DrawPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandsPlayed" class="control-label"></label>
                <input asp-for="HandsPlayed" class="form-control" />
                <span asp-validation-for="HandsPlayed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HandsPlayedPerPlayer" /> @Html.DisplayNameFor(model => model.HandsPlayedPerPlayer)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
